<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Chart js eksempel</title>
    </head>
    <body>
        <div id="container">
            <canvas id="chart_canvas"></canvas>
        </div>
    </body>
</html>
<style>
    #container {
        width: 1000px;
        height: 500px;
    }
</style>
<script is:inline src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script is:inline>
    let ctx = document.querySelector("#chart_canvas").getContext("2d");
    let chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
            ],
            datasets: [
                {
                    label: "My First dataset",
                    data: [0, 10, 5, 2, 20, 30, 45],
                },
            ],
        },
        options: {},
    });
</script>
