---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Micropy</title>
    </head>
    <body>
        <div class="header">
            <div class="headline"><h1>Måling</h1></div>
            <div class="headline"><h1>LOG</h1></div>
        </div>
        <div class="sidebar">
            <h2>Sidebar</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <p id="response"></p>
    </body>
</html>

<style>
    body {
        background-color: rgb(0, 0, 37);
    }
   
    .headline {
        color: white;
        background-color:blueviolet;
        width: 100%;
        text-align: center;
        margin: 2px;
        margin-right: 1px;
        margin-left: 1px;
    }

    .header {
  		display: flex;
        flex-wrap: nowrap;
        background-color:white;
	}

    .sidebar {
        width: 250px; /* Adjust the width as needed */
        height: 100vh; /* Full height */
        position: fixed; /* Fixed position */
        left: 0;
        top: 0;
        background-color: #333; /* Background color */
        color: white; /* Text color */
        padding: 20px;
        overflow-y: auto; /* Adds scrolling if content exceeds height */
    }

        .sidebar h2 {
        margin-bottom: 20px;
    }

</style>

<script>
    // Skift til aktuel microcontroller IP!!!
    const ip = "192.168.4.1";
    const p = document.querySelector("#response");
    async function getData() {
        if (!ip) return;
        console.log(`Forbinder til: ${ip}`);
        let data = "";
        try {
            const res = await fetch(`http://${ip}`);
            data = await res.text();
        } catch (e) {
            console.log(e);
        }
        console.log(`Data modtaget: ${data}`);
        p.innerHTML = data;
    }
    getData();
</script>