body {
    background-color: rgb(30, 30, 30);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .topnav {
    background-color: rgb(50, 50, 50);
    z-index: 1;
    height: 97px;
    width: 100%;
    top: 0;
    display: flex;
    position: fixed;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 23px 0px 23px 0px; 
    font-size: 51px;
  }
  
  .small {
    flex: 2;
  }

  .large {
    flex: 4; 
  }
  
  .active {
    background-color: rgb(4, 109, 170);
    color: white;
  }

    .active1 {
    background-color: #888888;
    color: white;
  }


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 97px; /* Stay at the top */
    left: 0;
    background-color: rgb(70, 70, 70); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px 0px 10px 30px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
  }
  
  /* Style page content */
  .main {
    margin-left: 20%; /* Samme bredde som sidenav */
    padding: 5px 20px 5px 20px; /* Giver lidt luft omkring teksten */
    color: white; /* Sikrer god kontrast mod baggrunden */
    margin-top: 97px;
  }

  .topnav a:hover, .sidenav a:hover {
    background-color: #676767;
    transition: background-color 0.1s ease-in-out;
  }
  
